body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: aliceblue;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;    
}

label img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


[type=radio] + img {
    cursor: pointer;
}


[type=radio]:checked + img {
    outline: groove 3px red;
}

[type=number]{
    height: 50px;
}

#header{
    width: 50%;
}

details{
    user-select: none;
    cursor: pointer;
}